#about_box{
    height: 100vh;
    width: 100vw;
    max-width: 75rem;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
}

.aboutme {
    height: 100vh;
    width: 100vw;
    padding: 2.5rem;
    font-size: 3rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hello {
    font-size: 1.75rem;
    font-weight: 100;
}

.name2 {
    color: #be1d2e;
}

.intro {
    font-size: medium;
    font-weight: 200;
    letter-spacing: 1px;
}

.plus {
    color: #be1d2e;
}

.hire_btn{
    background: #be1d2e;
    color: white;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    border-radius: 2rem;
    cursor: pointer;
    margin: 1rem 0;
}

.hire_btn:hover {
    filter: drop-shadow(0px 0px 14px #f8152c);
}

.hirebtn {
    object-fit: cover;
    height: 1rem;
    width: 1rem;
    margin: 1rem 0.5rem;
}

.perfil{
    position: absolute;
    top: 0rem;
    right: 0;
    z-index: -1;
    flex-direction: column;
    object-fit: cover;
    height: calc(100vh - 4rem);
    display: flex;
}

@media screen and (max-width: 840px){

    #about_box {
        flex-direction: column;
        align-items: center;
    }

    .perfil{
        position: initial;
        flex-direction: column;
        object-fit: contain; /* Alterado para contain */
        height: auto; /* Ajuste para auto para manter proporção */
        max-height: 50%; /* Limite a altura máxima */
        width: 100%; /* Ajuste a largura total */
        display: flex;
    }
}

@media screen and (min-width: 1200px) {
    .perfil {
        height: calc(100vh - 4rem);
        width: auto;
        right: 0rem;
        top: 0rem; 
    }
}