#contact {
    overflow: hidden;
    width: 100vw;
    max-width: 65rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin:  0 auto;
}

.contactPage{
    font-size: 3rem;
    font-weight: 600;
    padding-top: 3rem;

}

.description {
    font-size: 0.9rem;
    font-weight: 300;
    padding: 0 2rem;
}

.contactForm {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90vw;
    max-width: 60rem;
}

.name, .email, .message{
    font-size: medium;
    width: 100%;
    max-width: 40rem;
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.5rem;
    background: rgb(12, 12, 12);
    color: #be1d2e;
}

.btnSubmit{
    background: #be1d2e;
    color: white;
    border: none;
    border-radius: 0.5rem;
    margin: 2rem;
    cursor: pointer;
    padding: 0.75rem 3.5rem;
}

.btnSubmit:hover {
    filter: drop-shadow(0px 0px 14px #f8152c);
}

