#skills {
    overflow: hidden;
    width: 100vw;
    max-width: 65rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin:  0 auto;
    
}

.skillbox{
    display: flex;
    grid-template-columns: repeat(3, 1fr); 
    justify-content: center; 
    gap: 1px; 
    flex-wrap: wrap;
}

.skillTitle {
    font-size: 3rem;
    font-weight: 600;
    padding-top: 2rem;
    /* margin-bottom: 1.5rem; */
}

.intro {
    font-size: 0.9rem;
    font-weight: 300;
    padding: 0 2rem;
    /* max-width: 51rem; */
}

.skills {
    margin: 1.5rem;
    width: 140px;
    height: 50px;
    max-width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    text-align: center;
}

.skillBar {
    display: flex;
    margin: 1rem;
    padding: 1.5rem 2rem;
    border-radius: 0.5rem;
    background: rgb(12, 12, 12);
}

.skillimg {
    max-width: 100%;
    object-fit: cover;
    height: 3rem;
    width: 3rem;
}

.skilltxt h3 {
    margin-top: 0.5rem;
    text-align: center;
}