@import "tailwindcss";

@theme{
    --color-redSpecial: #be1d2e;
    --color-blackSpecial: #0c0c0c;
}

*{
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: black;
    color: white;
}